<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.11.5295.12309" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
</packages>