@using System
@using Nancy.PictureCut.Demo.Code
@inherits NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @Values.MainTitle</title>
    <meta name="description" content="The description of my page" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.0.js"></script>
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/respond.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand">Home</a>
                <a href="~/Demo/" class="navbar-brand">Live demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
